body
{
  font-family: 'Nanum Myeongjo', serif;
}
/* START MENU BLOCK*/
.block-menu
{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 1.3em;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.block-menu ul > li
{
  text-decoration: underline;
  display: inline-block;
  margin-left: 3%;
}

.block-menu a
{
  text-decoration: none;
  color: black;
}

.block-menu a:hover
{
  color: orange;
  font-weight: bolder;
}
/* END MENU BLOCK*/


/* START TITLE BLOCK*/
.block-title
{
  text-align: center;
  padding: 20% 10% 20% 10%;
  background-image: url('../img/title.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block-title h1
{
  color: white;
  font-size: 3em;
}
/* END TITLE BLOCK*/


/* START PROMO BLOCK*/
.block-promo
{
  padding: 3%;
}

.cart
{
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: 1%;
}

.cart-img
{
  height: 400px;
}

.cart > .cart-text
{
  padding: 1% 2% 1% 2%;
  text-align: center;
  background-color: rgba(189, 195, 199, 0.3)
}

.cart-img img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
